.events{
  background: linear-gradient(180deg, #000000 0%, #000000 100%);
  padding-top: 90px;

  .events_heading{
    display: flex;
    align-items: self-end;
  }
  .events_heading_p{
    font-weight: 800;
    font-size: 36px;
    line-height: 35px;
    color: #FFFFFF;
    display: block;
    border-left: 4px solid #FF0000;
    margin-left: 17px;
    padding-left: 28px;
    height: 46px;
  }

  .events_text{
    max-width: 240px;
    align-self: self-start;
    margin-left: 90px;
    margin-bottom: 30px;
  }

  .events_text_p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
  }

  .events_cardholder{
    display: flex;
    justify-content: space-between;
    .card{
      position: relative;
      max-width: 510px;


      .card_new{
        position: absolute;
        top: 20px;
        left: 40px;
        .card_new_p{
          font-weight: bold;
          font-size: 14px;
          line-height: 35px;
          text-align: center;
          color: #FFFFFF;
          background: #FFAE17;
          border-radius: 25px;
          padding: 0 10px;
        }
      }
      .info_box{
        position: absolute;
        left: 13px;
        bottom: 30px;
        display: flex;
      }
      .info_card{
        padding-left: 10px;
      }
     .event_card_img{
       width: 100%;
       max-width: 510px;
       height: auto;
     }

      .info_text{
      font-weight: bold;
      font-size: 24px;
      line-height: 35px;
      color: #FFFFFF;
    }

    .span_info{
      font-family: Roboto, sans-serif;
      font-size: 12px;
      line-height: 35px;
      color: #FFFFFF;

      }
    }
  }
}